site_name: CourseNote
site_author: RightBird
site_url: http://RightBird.io/CourseNote
site_description: Course Note for ZJU CS

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: 暗色模式
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: 亮色模式
  language: zh
  font:
    code: JetBrains Mono
  features:
    # - content.action.edit # 编辑按钮
    # - content.action.view # 查看源代码按钮
    # - content.code.copy # 支持代码块复制
    # - navigation.footer # 上一页和下一页
    - navigation.tabs # 一级导航在横着的导航栏
    - content.code.annotate # 可以在代码块中增添点击展示的注释，参见 https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#adding-annotations
    # - navigation.tracking # 地址栏中的 URL 会随当前位置变化为对应小节的 URL
    - navigation.indexes # 将 index 页面直接附到小节名上
    - navigation.top # 回到顶部按钮
    # - navigation.sections # 二级导航是粗体
    # - navigation.expand # 导航默认展开
    - toc.follow # toc 跟随
    # - toc.integrate # 文档 toc 集成到总目录中 
    - search.suggest
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/git-alt

use_directory_urls: false
markdown_extensions:
    - pymdownx.highlight:  # 代码高亮
        anchor_linenums: true
    - admonition # 警告语法
    - def_list
    - footnotes
    - abbr
    - pymdownx.caret
    - pymdownx.mark
    - pymdownx.tilde
    - md_in_html
    - pymdownx.arithmatex: # latex支持
          generic: true
    - toc:
          permalink: true # 固定标题位置为当前位置
          toc_depth: 2 # 目录深度
    - pymdownx.highlight: # 代码块高亮
          anchor_linenums: true
          linenums: true # 显示行号
          use_pygments: true # 代码高亮
          pygments_lang_class: true
          auto_title: true # 显示编程语言名称
          linenums_style: pymdownx-inline # 行号样式,防止复制的时候复制行号
    - pymdownx.betterem # 强调美化,比如**text**会被美化
    - pymdownx.caret # 上标和下标
    - pymdownx.mark # 上标和下标
    - pymdownx.tilde # 上标和下标
    - pymdownx.keys # 显示按键组合
    - pymdownx.critic
    - pymdownx.details # 可以折叠的代码块 ??? note 可以让警告变成折叠的
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.magiclink # 自动识别链接
    - pymdownx.smartsymbols # 智能符号
    - pymdownx.snippets # 代码段
    - pymdownx.tasklist:
          custom_checkbox: true # 自定义复选框
    - attr_list
    - pymdownx.emoji:
          emoji_index: !!python/name:material.extensions.emoji.twemoji
          emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - pymdownx.superfences: # 代码块中支持Mermaid
          custom_fences: # 支持 Mermaid
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.tabbed:
          alternate_style: true
          combine_header_slug: true
    - pymdownx.tasklist:
          custom_checkbox: true
          clickable_checkbox: true
    - meta # 支持Markdown文件上方自定义标题标签等
    - tables

plugins:
  - search

extra_javascript:
  # - JavaSript/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - |
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };

extra_css:
  - https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  - css/extra.css

nav:
  - Home: index.md
  - 课程笔记:
    - 大二上:
      - 高级数据结构与算法分析:
        - Grading Policy: 大二上/高级数据结构与算法分析/Grading Policy.md
        - Chapter 1 ---AVL Trees, Splay Trees, and Amortized Analysis: 大二上/高级数据结构与算法分析/Chapter 1 ---AVL Trees, Splay Trees, and Amortized Analysis.md
        - Chapter 2 ---Red-Black Trees and B+ Trees: 大二上/高级数据结构与算法分析/Chapter 2 ---Red-Black Trees and B+ Trees.md
        - Chapter 3 ---Inverted File Index: 大二上/高级数据结构与算法分析/Chapter 3 ---Inverted File Index.md
        - Chapter 4 ---Leftist Heaps and Skew Heaps: 大二上/高级数据结构与算法分析/Chapter 4 ---Leftist Heaps and Skew Heaps.md
        - Chapter 5 ---Binomial Queue: 大二上/高级数据结构与算法分析/Chapter 5 ---Binomial Queue.md
        - Chapter 6 ---Backtracking: 大二上/高级数据结构与算法分析/Chapter 6 ---Backtracking.md
        - Chapter 7 ---Divide and Conquer: 大二上/高级数据结构与算法分析/Chapter 7 ---Divide and Conquer.md
        - Chapter 8 ---Dynamic Programming: 大二上/高级数据结构与算法分析/Chapter 8 ---Dynamic Programming.md
        - Chapter 9 ---Greedy: 大二上/高级数据结构与算法分析/Chapter 9 ---Greedy.md
        - Chapter10 ---NP-Completeness: 大二上/高级数据结构与算法分析/Chapter10 ---NP-Completeness.md
        - Chapter11 ---Approximation: 大二上/高级数据结构与算法分析/Chapter11 ---Approximation.md
        - Chapter12 ---Local Search: 大二上/高级数据结构与算法分析/Chapter12 ---Local Search.md
        - Chapter13 ---Randomized Algorithm: 大二上/高级数据结构与算法分析/Chapter13 ---Randomized Algorithm.md
        - Chapter14 ---Parallel Algorithms: 大二上/高级数据结构与算法分析/Chapter14 ---Parallel Algorithms.md
        - Chapter15 ---External Sorting: 大二上/高级数据结构与算法分析/Chapter15 ---External Sorting.md
        - 习题: 大二上/高级数据结构与算法分析/习题.md
      - 计算机组成:
        - Chapter1  Computer Abstractions and Technology: 大二上/计算机组成/Chapter1  Computer Abstractions and Technology.md
        - Chapter2  Instructions Language of the Computer: 大二上/计算机组成/Chapter2  Instructions Language of the Computer.md
        - Chapter3  Arithmetic for Computer: 大二上/计算机组成/Chapter3  Arithmetic for Computer.md
        - Chapter4 The Processor: 大二上/计算机组成/Chapter4 The Processor.md
        - Chapter5 Large and Fast Exploiting Memory Hierarchy: 大二上/计算机组成/Chapter5 Large and Fast Exploiting Memory Hierarchy.md
        - Chapter6 Storage and other IO Topics: 大二上/计算机组成/Chapter6 Storage and other IO Topics.md
      - 软件安全原理与实践:
        - Lab1: 大二上/软件安全原理与实践/Lab1/report.md
        - Lab2: 大二上/软件安全原理与实践/Lab2/Report.md
        - Lab3: 大二上/软件安全原理与实践/Lab3/Report.md
        - Lab4: 大二上/软件安全原理与实践/Lab4/Report.md
        - Final: 大二上/软件安全原理与实践/Final/Report.md 
    - 大二下:
      - 计算机体系结构:
        - Grading Policy: 大二下/计算机体系结构/Grading Policy.md
        - Cache: 大二下/计算机体系结构/Cache.md
      - 面向对象程序设计:
        - Grading Policy: 大二下/面向对象程序设计/Grading Policy.md
      - 数据库系统:
        - Grading Policy: 大二下/数据库原理/Grading Policy.md
        - Relational Model: 大二下/数据库原理/Relational model.md
        - SQL: 大二下/数据库原理/SQL.md
        - Advanced SQL: 大二下/数据库原理/Advanced SQL.md
        - E-R model: 大二下/数据库原理/E-R model.md
        - Relational Database Design: 大二下/数据库原理/Relational Database Design.md
        - Storage and File Structure: 大二下/数据库原理/Storage and File Structure.md
        - Indexing and Hashing: 大二下/数据库原理/Indexing and Hashing.md
        - Query Processing: 大二下/数据库原理/Query Processing.md
        - Query Optimization: 大二下/数据库原理/Query Optimization.md
        - Transactions: 大二下/数据库原理/Transactions.md
        - Concurrency Control: 大二下/数据库原理/Concurrency Control.md
        - Recovery System: 大二下/数据库原理/Recovery System.md
    - 大三上:
      - 计算理论:
        - Sets, Relations, and Language: 大三上/计算理论/Sets_Relations_Language.md
        - Regular Language and Automata: 大三上/计算理论/Regular_Language_and_Automata.md
        - Context-free Language and Pushdown Automata: 大三上/计算理论/Context-free_Language_and_Pushdown Automata.md
        - Turing Machine: 大三上/计算理论/Turing Machine.md
      - 计算机网络:
        - Physical Layer: 大三上/计算机网络/Physical_Layer.md
        - Data Link Layer: 大三上/计算机网络/Data_Link_Layer.md
        - MAC Sublayer: 大三上/计算机网络/The_Medium_Access_Control_Sublayer.md
        - Network Layer: 大三上/计算机网络/Network_Layer.md
        - Transport Layer: 大三上/计算机网络/Transport_Layer.md
  - C++:
    - C++基础: 
      - 数据类型: C++/C++基础/data_type.md
      - 变量: C++/C++基础/Variable.md
    - 库函数:
      - iostream: C++/库函数/iostream.md
      - string: C++/库函数/string.md
      - STL:
        - 迭代器: C++/库函数/STL/迭代器.md
        - vector: C++/库函数/STL/vector.md
    
repo_url: https://github.com/RightBird/CourseNote
repo_name: CourseNote


